@import "../global";
@import "../funkcije";
@import "../nav";

$pozadinaCrna : #0b111a;

section{
    width: 1100px;
    margin: 20px auto;
    .oprema{
        @include Grid(3,4);
        gap: 50px;
        padding: 30px;
        border-radius: 12px;
        margin-top: 50px;
        flex-grow: 1;

        .box{
            border-radius: 12px;
            padding: 20px;
            background-color: $pozadinaCrna;
            
            .opis{
                padding: 32px;
                
                h3{
                    text-align: center;
                    color: white;
                    margin-bottom: 25px;
                    font-size: 23px;
                    line-height: 1.3;
                }

                .cena{
                    @include Flexbox(center,space-between,row);
                    font-size: 22px;

                    strong{
                        color: white;
                    }
                    @import "../button";
                }

            }
            img{
                width: 100%;
                height: auto;
                border-radius: 10px;
              }
        }
    }
}

@import "../footer";


@media screen and (max-width: 768px) {
    section{
        .oprema{
            @include Grid(2,6);

            .box{
                .opis{
                    h3{
                        font-size: 33px;
                    }
                    .cena{
                        font-size: 30px;

                        button{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 495px){
    section{
        .oprema{
            @include Grid(1,12);

            .box{
                .opis{
                    h3{
                        font-size: 60px;
                    }
                    .cena{
                        font-size: 50px;

                        button{
                            font-size: 45px;
                            padding: 20px 30px;
                        }
                    }
                }
            }
        }
    }
}