@import "../global";
@import "../funkcije";

$pozadinaCrna : #0b111a;

nav{
    @import "../nav";  
}
h2{
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}
section{
    width: 1100px;
    margin: 20px auto;
    .oprema{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        padding: 30px;
        border-radius: 12px;

        .box{
            border-radius: 12px;
            padding: 20px;
            background-color: $pozadinaCrna;
            
            .opis{
                padding: 32px;
                
                h3{
                    text-align: center;
                    color: white;
                    margin-bottom: 25px;
                    font-size: 23px;
                    line-height: 1.3;
                }

                .cena{
                    @include Flexbox(center,space-between,row);
                    font-size: 22px;

                    strong{
                        color: white;
                    }
                    @import "../button";
                }

            }
            img{
                width: 100%;
                height: auto;
                border-radius: 10px;
              }
        }
    }
}

@import "../footer";