@import "../global";
@import "../funkcije";
@import "../button";
@import "../nav";

$pozadinaCrna : #0b111a;

.hero{
    border-left: 2px dotted #38f658;
    border-right: 2px dotted #38f658;
    margin-top: 100px;
    background-color: $pozadinaCrna;
    color: white;
    flex: 1;
    @include Flexbox(center,space-evenly,row);
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    img{
            width: auto;
            height: 350px;
            border-radius: 6px;
        }
    .hero-text{
        @include Flexbox(center,center,column);
        h2{
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
            margin-bottom: 30px;
            text-align: center;
        }
        p{
            font-size: 20px;
            word-spacing: 1.5px;
            line-height: 1.3;
            color: #E5E7EB;
            margin-bottom: 30px;
            max-width: 600px;
            text-align: center;
        }
    }
}

.information{
    
    margin: 40px 0;
    flex: 1;
    
    h3{
        font-size: 36px;
        color: #1F2937;
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
    }
    p{
        width: 300px;
        font-size: 22px;
    }
    img{
        width: 300px;
        height: auto;
        border-radius: 12px;
    }
    .info-cards{
        @include Flexbox(normal,center,row);
        flex-wrap: wrap;
        gap: 40px;
    }
    .info1, .info2, .info3, .info4{
        @include Flexbox(center,center,column);
        gap: 20px;
        flex-wrap: wrap;
    }
}

.testimonial{
    background-color: #E5E7EB;
    padding: 50px;

    @include Flexbox(center,center,column);
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;

    .quote{
        font-size: 36px;
        font-style: italic;
        font-weight: lighter;
        color: rgba(31, 41, 55, 0.7);
    }
    .author{
        font-size: 24px;
        align-self: flex-end;
    }
}

.action{
    margin: 30px;
    background-color: #1F2937;
    padding: 50px;
    border-radius: 8px;
    color: #F9FAF8;

    @include Flexbox(center,space-around,row);
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;

    h4{
        font-size: 24px;
        font-weight: bold;
    }
    p{
        font-size: 18px;
    }
    @import "../button";
}

@import "../footer";

@import "../responsiveNav";