* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.5rem;
  border-bottom: 3px solid #38f658;
}

button {
  background-color: #38f658;
  color: #0b111a;
  font-weight: 900;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #0b111a;
  color: white;
  padding-bottom: 60px;
  flex-grow: 1;
}
header img {
  width: 420px;
  height: 500px;
  border-radius: 6px;
}
header .header-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  padding: 20px 120px;
  cursor: pointer;
  text-decoration: none;
  background-color: #0b111a;
  color: white;
}
header .header-links .logo {
  margin-right: auto;
}
header .header-links .logo a {
  font-size: 30px;
  font-weight: 900;
}
header .header-links a {
  text-decoration: none;
  font-size: 25px;
  color: #E5E7EB;
}
header .header-links a:hover {
  color: #38f658;
}
header .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  padding: 10px 120px;
}
header .hero h2 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 30px;
}
header .hero p {
  font-size: 20px;
  color: #E5E7EB;
  margin-bottom: 30px;
  max-width: 600px;
}

.information {
  padding: 100px;
  padding-bottom: 150px;
  flex-grow: 1;
}
.information h3 {
  font-size: 36px;
  color: #1F2937;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}
.information p {
  width: 300px;
  font-size: 22px;
}
.information img {
  width: 300px;
  height: auto;
  border-radius: 12px;
}
.information .info-cards {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}
.information .info1, .information .info2, .information .info3, .information .info4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #E5E7EB;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.testimonial .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: rgba(31, 41, 55, 0.7);
  margin: 30px 130px;
}
.testimonial .author {
  font-size: 24px;
  align-self: flex-end;
  margin-right: 130px;
}

.action {
  margin: 70px 100px;
  background-color: #1F2937;
  padding: 50px 0;
  border-radius: 8px;
  color: #F9FAF8;
  display: flex;
  align-items: normal;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: 1;
}
.action h4 {
  font-size: 24px;
  font-weight: bold;
}
.action p {
  font-size: 18px;
}
.action button {
  background-color: #38f658;
  color: #0b111a;
  font-weight: 900;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
.action button:hover {
  transform: scale(1.1);
}

footer {
  background-color: #0b111a;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */