@import "../global";
body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #0b111a;
    color: white;
    padding-bottom: 60px;
    flex: 1;
    img{
        width: 500px;
        height: 500px;
        border-radius: 4px;
    }
    @import "../nav";
    .hero{
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 120px;

        h2{
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
            margin-bottom: 30px;
        }
        p{
            font-size: 20px;
            color: #E5E7EB;
            margin-bottom: 30px;
            max-width: 600px;
        }
    }

}
@import "../button";
.information{
    padding: 100px;
    padding-bottom: 150px;

    flex: 1;
    
    h3{
        font-size: 36px;
        color: #1F2937;
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
    }
    p{
        width: 300px;
        font-size: 22px;
    }
    img{
        width: 300px;
        height: auto;
        border-radius: 12px;
    }
    .info-cards{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .info1, .info2, .info3, .info4{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
    
    }
}

.testimonial{
    background-color: #E5E7EB;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;

    .quote{
        font-size: 36px;
        font-style: italic;
        font-weight: lighter;
        color: rgba(31, 41, 55, 0.7);
        margin: 30px 130px;
    }
    .author{
        font-size: 24px;
        align-self: flex-end;
        margin-right: 130px;
    }
}

.action{
    margin: 70px 100px;
    background-color: #1F2937;
    padding: 50px 0;
    border-radius: 8px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-evenly;

    flex: 1;

    h4{
        font-size: 24px;
        font-weight: bold;
    }
    p{
        font-size: 18px;
    }
    @import "../button";
}

@import "../footer";