@import "../global";
@import "../funkcije";

$pozadinaCrna : #0b111a;

nav{
    @import "../nav";
}

.form-container {
    width: 1100px;
	padding: 0;
    margin: 20px auto;

	form {
		background-color:$pozadinaCrna;
		padding: 20px;
		border-radius: 12px;
		margin-bottom: 50px;

		#naslov {
			text-align: center;
			margin-bottom: 10px;
			color: #13f538;
		}

		input[type="text"],
		.textarea,
		input[type="email"] {
			font-size: 1rem;
			padding: 15px;
			margin: 15px 0;
			border: 1px solid;
			box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
			border-radius: 10px;
			width: 100%;
		}
		.buttonCont{
    		@import "../button";
    		text-align: center;
		}
		.input-control.success input {
			border-color: #09c372;
		}
		.input-control.error input {
			border-color: #ff3860;
		}
		.input-control .error {
			color: #ff3860;
			font-size: 0.85rem;
			height: 1rem;
		}
	}
}

.popup {
	position: fixed; /*kad user scrolla pratice ga i pravi ga inline*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	border: 2px solid black;
	border-radius: 10px;
	z-index: 10; /*ovo je trodimenzionalna osa, da bi se videlo da je ispred svega a ne na stranici*/
	background-color: white;
	width: 500px;
	max-width: 80%; /*ne zelim da nikad bude vece od 80% ekrana*/

	.popup-header {
		padding: 10px 15px;
		@include Flexbox(center,space-between,row);
		border-bottom: 1px solid black;

		.naslov {
			font-size: 1.5rem;
			font-weight: bold;
		}
		#izlaz {
			border: none;
			outline: none;
			background: none;
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: bold;
		}
	}

	.popup-body {
		padding: 10px 15px;

		#popupDatum {
			display: inline;
		}
	}
}

#overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

@import "../footer";