@mixin Flexbox($ai, $jc, $direction){
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $direction;
}

@mixin Grid($kol, $red){
    display: grid;
    grid-template-columns: repeat($kol,1fr);
    grid-template-rows: repeat($red,1fr);
}