nav{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    .header-links{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
        padding: 20px 40px;
        text-decoration: none;
        background-color: #0b111a;
        color: white;
        width: 100%;
        .logo{
            margin-right: auto;
    
            a{
                font-size: 1.1em;
                font-weight: 900;
                cursor: pointer;
            }
         }
         a{
            cursor: pointer;
            text-decoration: none;
            font-size: 1em;
            color: #E5E7EB;
            &:hover{
                color: #38f658;
            }
         }
    
    }
}